* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Oswald", sans-serif;
}

body{
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.nav .left{
  padding-left: 10%;
}
.nav .left img{
  height: 8vh;
  position: relative;
  z-index: 1;
}
.full-page {
  position: relative;
  overflow: hidden;
  z-index: 1;
  background-color: rgba(15, 19, 25, 255);
width: 100%;
  height: 100vh; /* Set the height of the container */
}

.full-page::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -1; /* Move the pseudo-element behind the content */
}

.down {
  height: 50vh;
  width: 80%;
  margin-left: 10%;
  margin-top: 30vh;
  display: flex;
}
.full-page .down .left-div,
.full-page .down .right-div {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
}
.full-page .down .left-div .left,
.full-page .down .right-div .right {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: start;
  flex-direction: column;
  justify-content: space-around;
}

.left-div .left img {
  width: 150%;
}
.left h2 {
  margin-top: 10px;
  color: #d3bebe;
  font-size: 16px;
  text-transform: uppercase;
}

.right input {
  background-color: rgba(16, 16, 16, 255);
  border: 1px solid rgb(139, 127, 127);
  height: 45px;
  width: 250px;
  font-weight: 500;
}
.right textarea {
  background-color: rgba(16, 16, 16, 255);
  border: 1px solid rgb(139, 127, 127);
  height: 70px;
  resize: none;
  width: 250px;
  font-weight: 500;
}

input:focus ~ .floating-label,
input:not(:focus):valid ~ .floating-label,
textarea:focus ~ .floating-label,
textarea:not(:focus):valid ~ .floating-label {
  top: -18px;
  bottom: 10px;
  left: 20px;
  font-size: 11px;
  opacity: 1;
  color: #d3bebe;
}

.inputText {
  font-size: 14px;
  width: 200px;
  height: 35px;
  position: relative;
  color: #d3bebe;
  padding-left: 20px;
}

.cont {
  position: relative;
}

.floating-label {
  position: absolute;
  pointer-events: none;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 14px;
  left: 20px;
  top: 10px;
  transition: 0.2s ease all;
  color: #d3bebe;
}

.right button {
  width: 250px;
  height: 45px;
  font-size: 16px;
  font-weight: 600;
  background-color: #d3bebe;
  cursor: pointer;
  border: 0px;
}


svg {
  position: absolute;
  bottom: -50px;
  z-index: -10;
}
svg:nth-child(2) {
  bottom: -20px;
}
#active{
  color: #fff;
}

.nav{
  height: 12vh;
  position: absolute;
  top: 0;
  width: 100%;
  display: flex;
}
.nav .left{
  z-index: 11;
}
.nav ul{
  z-index: 11;

}
.nav .left, .nav .right{
  width: 50%;
  display: flex;
  align-items: center;
  height: 12vh;
}
.nav .right{
  justify-content: end;
}
.right ul{
  margin-right: 10%;
  width: 70%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 0;
}
ul li{
list-style: none;}

.right ul li a{
  text-decoration: none;
  color: #12b7d4;
}
.login-menu{
  background-color: #12b7d4;
  width: 100%;
  position: absolute;
  z-index: 1012;
  height: 100vh;
  margin-left: 100%;
  transition: 1s;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.error{
  color: red;
  font-size: 14px;
}
.centered{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 50%;
  width: 100%;

}
#active1{
  color: #fff;
}
.login-menu a{
color: #000;
text-decoration: none;
font-weight: 600;
font-size: 26px;
}
.mobile{
  height: 5vh;
  width: 6vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-right: 10%;
  display: none;

}
.mobile .longer{
  width: 90%;
  height: 2px;
  margin-left: 10%;
  background-color: #fff;
  transition: 1s;
  position: relative;
  z-index: 10000000000000;
}
.mobile .shorter{
  width: 60%;
  height: 2px;
  margin-left: 10%;
  transition: 1s;
  position: relative;
  z-index: 10000000000000;
  background-color: #fff;
}

#nav-mobile{
  position: relative;
  z-index: 10111;
}
.footer{
  width: 100%;
  height: 8vh;
  position: absolute;
  bottom: 1vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
  color: #fff;
}
@media (max-width:768px){
  .down{
    margin-left: 4vw;
  }
  .right ul{
    display: none;
  }
  .mobile{
    display: flex;
  }
}
@media (max-width:600px){
  .down{
    height: 80vh;

    flex-direction: column;
    margin-top: 12vh;
    margin-left: 0;
    width: 100%;
  }
  .full-page .down .left-div{
    width: 100%;
    height: 40vh;

  }
  .full-page .down .left-div .left{
    width: 100%;
    display: flex;
    align-items: center;
  }
  .left-div .left img{
    width: 50%;
  }
  .full-page .down .right-div .right{
    width: 100%;
    display: flex;
align-items: center;
  }
  .full-page .down .right-div{
    width: 100%;
    height: 40vh;
  }
  .left h2 {
    margin-top: 5px;
    font-size: 10px;
  }
  .right input {
    height: 25px;
    width: 45vw;
  }
  .inputText{
padding-left: 10px;
  }
  .right textarea {

    height: 50px;
    width: 45vw;
  }
  input:focus ~ .floating-label,
  input:not(:focus):valid ~ .floating-label,
  textarea:focus ~ .floating-label,
  textarea:not(:focus):valid ~ .floating-label {
    top: -15px;
    bottom: 10px;
    left: 10px;
    font-size: 10px;
    opacity: 1;
    color: #d3bebe;
  }
  

  
  
  .floating-label {
    font-size: 10px;
    left: 10px;
    top: 4px;
    transition: 0.2s ease all;
    color: #d3bebe;
  }
  
  .right button {
    width: 45vw;
    height: 25px;
    font-size: 12px;
    font-weight: 600;
    background-color: #d3bebe;
    cursor: pointer;
    border: 0px;
  }
  .right ul{
    display: none;
  }
  .mobile{
    display: flex;
  }
}