* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Oswald", sans-serif;
}
body{
  width: 100%;
  overflow-x: hidden;
  position: relative;
}
.nav .left{
  padding-left: 10%;
}
.left img{
  height: 8vh;
}
.our-bikes{
    height: 430vh;
    width: 100%;
    background-color: black;
    overflow: hidden;
}
.our-bikes h2{
    color: #fff;
    text-align: center;
    margin-top: 100px;
}
.full-bike,
.frame,
.wheel,
.handlebar {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: black;
}
.frame,
.wheel,
.handlebar{
    margin-top: 10vh;
}
.full-bike {
  align-items: center;
  margin-top: -10vh;
}
.full-bike h2 {
  color: #ffffff;
  margin-top: 30px;
}
.full-bike img {
  width: 60%;
  margin: auto;
  position: relative;
  z-index: 11;
}
.full-bike h1 {
  color: #ffffff;
  font-size: 80px;
  text-align: center;
  position: absolute;
  padding-top: 100px;
  z-index: 10;
  transform: scale(4, 1.6);
}
.frame , .wheel, .handlebar {
  justify-content: start;
  align-items: center;
overflow-x: hidden;
}


.frame h2,.handlebar h2 {
  color: #ffffff;
  margin: 20px auto;
}
.frame h1, .wheel h1,.handlebar h1 {
  color: #ffffff;
  font-size: 50px;
  transform: scale(1.3);
  text-align: center;
}
.frame-text, .wheel-text {
  width: 80%;
  margin-top: 10%;
  height: 30%;
}
.frame-text,.wheel-text{
    display: flex;
    justify-content: center;
    width: 100%;
}
.frame-text .left{
  width: 25%;
  height: 50vh;
  display: flex;
  align-items: center;
}
.frame-text .left img{
  height: 100%;
}

.frame-text .right {
  display: flex;
  align-items: center;
  width: 35%;
  height: 50vh;
  margin-top: 0;

}
#handlebar{
  width: 100%;
  height: auto;
}
#handle-bar-right{
  width: 30%;
  margin-left: 5%;
}
.frame-text .right h3,.wheel .left h3 {
  color: #fff;
  font-size: 20px;
  line-height: 40px;
  transform: scale(1.2);
}


.wheel h1{
    margin: 30px auto;
    width: 100vw;
}

.wheel-text .left{
  width: 30%;
  height: 50vh;
  display: flex;
  align-items: center;
}
.wheel-text .right{
  width: 30%;
  height: 50vh;
  display: flex;
  align-items: center;
  margin-left: 5%;

}
.wheel-text .right img{
  height: 100%;
}

#active{
  color: #fff;
}
.nav{
  height: 12vh;
  position: absolute;
  top: 0;
  width: 100%;
  display: flex;
}
.nav .left, .nav .right{
  width: 50%;
  display: flex;
  align-items: center;
  height: 12vh;
}
.nav .right{
  justify-content: end;
  z-index: 1112;
}
#google_translate_element{
  width: 50px;
  height: 20px;
  overflow: hidden;
  cursor: pointer;
}
#google_translate_element select{
  background-color: #000;
  color: #12b7d4;
  border: 0px;
  cursor: pointer;

}

  .right ul{
  margin-right: 10%;
  width: 70%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 0;
}
ul li{
list-style: none;}

.right ul li a{
  text-decoration: none;
  color: #12b7d4;
}
.login-menu{
  background-color: #12b7d4;
  width: 100%;
  position: absolute;
  z-index: 100;
  height: 100vh;
  margin-left: 100%;
  transition: 1s;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.centered{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 50%;
  width: 100%;
}
#active1{
  color: #fff;
}
.login-menu a{
color: #000;
text-decoration: none;
font-weight: 600;
font-size: 26px;
}
.mobile{
  height: 5vh;
  width: 6vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-right: 10%;
  display: none;
}
.mobile .longer{
  width: 90%;
  height: 2px;
  margin-left: 10%;
  background-color: #fff;
  transition: 1s;
  z-index: 101;
}
.mobile .shorter{
  width: 60%;
  height: 2px;
  margin-left: 10%;
  transition: 1s;
  z-index: 101;

  background-color: #fff;
}

.footer{
  width: 100%;
  height: 8vh;
  position: absolute;
  bottom: 1vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
  color: #fff;
}



@media (max-width: 1100px) {
  .our-bikes h2{
    font-size: 18px;
}

  .full-bike h1 {
    font-size: 50px;
  }
  .full-bike img {
    width: 75%;
margin-top: 100px;
  }
.frame-text .right h3,.wheel-text .left h3{
  font-size: 18px;
}
.frame-text h1,.wheel-text h1{
  font-size: 18px;
}

.frame img,.wheel img, .handlebar img{
  transform: scale(1);
}
.frame-text .right{
  margin-left: 13%;
}
.frame h1, .wheel h1,.handlebar h1 {
  font-size: 30px;

}
#handlebar{
  height: 60%;
  width: auto;
}
#handle-bar-right{
  margin-left: 13%;
}
}
@media (max-width:768px){
  .right ul{
    display: none;
  }
  .mobile{
    display: flex;
  }
}
@media (max-width: 700px) {
  .our-bikes h2{
    font-size: 16px;
    padding-top: 40px;
}
.full-bike{
  height: 100vh;
}
  .full-bike h1 {
    font-size: 40px;
  }
  .full-bike img {
    width: 80%;
margin-top: 100px;
  }
.wheel,
.handlebar,.frame{
    margin-top: 0vh;
    height: 120vh;
}
.frame{
  margin-top: 0px;
}
.full-bike{
  height: 70vh;
}
.frame h1, .wheel h1,.handlebar h1 {
  font-size: 20px;
  margin-bottom: 0;
  margin-top: 10vh;
}
.frame-text, .wheel-text{
  flex-direction: column;
  height: 85vh;
}
.wheel-text{
  flex-direction: column-reverse;
}
.frame-text .left, .frame-text .right, .wheel-text .left, .wheel-text .right{
  width: 100%;
  height: 50vh;
  display: flex;
  justify-content: center;
  margin-left: 0px;

}
.frame-text .right h3,.wheel-text .left h3{
  font-size: 17px;
  width: 50%;
  text-align: center;
}

.frame img,.wheel img, .handlebar img{
  transform: scale(0.9);
}
.handlebar .frame-text .right{
  width: 100%;
}

#handle-bar-right{
  width: 100%;
  margin-left: 0;
}
#handlebar{
  width: 60%;
  height: auto;
}
.our-bikes{
  height: 440vh;

}
}


@media (max-width: 570px) {
  .our-bikes h2{
    font-size: 14px;
}

  .full-bike h1 {
    font-size: 30px;
  }
  .full-bike img {
    width: 80%;
margin-top: 100px;
  }
.frame-text .right h3,.wheel-text .left h3{
  font-size: 14px;
}

.frame img,.wheel img, .handlebar img{
  transform: scale(0.8);
}

#handlebar{
  width: 60%;
}
}



@media (max-width: 426px) {
  .our-bikes h2{
    font-size: 14px;
}
.footer{
  bottom: 0;
}
  .full-bike h1 {
    font-size: 20px;
  }
  .full-bike img {
    width: 75%;
margin-top: 100px;
  }
.frame-text .right h3,.wheel-text .left h3{
  font-size: 14px;
}
.frame-text h1,.wheel-text h1{
  font-size: 18px;
}

.frame img,.wheel img, .handlebar img{
  transform: scale(0.7);
}

#handlebar{
  width: 60%;
}
}






