* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: black;
  font-family: "Oswald", sans-serif;
  overflow-x: hidden;
}
.container-fluid{
  width: 100%;
  margin-right: 0;
  padding: 0;
}
#active{
  color: black;
}
.nav{
  height: 12vh;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1011;
}
.nav .left, .nav .right{
  width: 50%;
  display: flex;
  align-items: center;
  height: 12vh;
}
.nav .right{
  justify-content: end;
  
}
.nav .left{
  padding-left: 10%;
}
.left img{
  height: 12vh;
}
.right ul{
  margin-right: 10%;
  width: 70%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 0;
}
ul li{
list-style: none;}

.right ul li a{
  text-decoration: none;
}
.login-menu{
  background-color: #12b7d4;
  width: 100%;
  position: absolute;
  z-index: 10;
  height: 100vh;
  margin-left: 100%;
  transition: 1s;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.centered{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 50%;
  width: 100%;
}
#active1{
  color: #fff;
}
.login-menu a{
color: #000;
text-decoration: none;
font-weight: 600;
font-size: 26px;
}
.mobile{
  height: 5vh;
  width: 6vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-right: 10%;
  display: none;
}
.mobile .longer{
  width: 90%;
  height: 2px;
  margin-left: 10%;
  background-color: #000;
  transition: 1s;
}
.mobile .shorter{
  width: 60%;
  height: 2px;
  margin-left: 10%;
  transition: 1s;

  background-color: #000;
}
.hero {
  background-color: #f7f7f7;
  height: 110vh;
  display: flex;
}
.hero-left {
  width: 50%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hero-left a{
  width: 20%;
  height: 40px;
  margin-top: 20px;
  border: 0px;
  border-radius: 4px;
  background-color: #000;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;

}
.hero-right {
  width: 50%;
  height: 100vh;
  display: flex;
justify-content: center;  align-items: center;
}
.hero-right img{
  transform: scale(1);
}
#diff{
  font-weight: 800;
}
#second {
font-weight: 800;
margin-top: 25px;
}

.hero-left h1 {
  width: 63%;
  color: #12b7d4;
transform: scale(1.1,2.2);
font-size: 34px;
  font-weight: 200;
}
.hero-left h3 {
  margin-top: 6vh;
  width: 63%;
  transform: scale(1.08,1.5);

  color: #12b7d4;

  text-align: justify;
}
.text-center h1,.text-center h3{
  text-align: center;
}
.between {
  margin-top: -10.5vh;
  height: 16vh;
  width: 100vw;
  transform: rotate(-3deg);
  background-color: #12b7d4;
  display: flex;
  align-items: center;
  justify-content: space-around;
  z-index: 100;position: relative;
}
.between h1 {
  color: #000;
  font-size: 44px;
  font-weight: 300;
}
.green {
  width: 5px;
  height: 320px;
  margin-left: 200px;
  background-color: #12b7d4;
}
.all {
  width: 100%;
  height: calc(25vw * 5);
  background-color: black;
  display: flex;
  position: relative;
}
.all .left,
.all .right {
  width: 45%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.center {
  width: 10%;
  display: flex;
  justify-content: center;
}
.flex-container {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}
.line {
  width: 5px;
  height: 116vw;
  margin-top: 8vh;
  background-color: #12b7d4;
  position: absolute;
  left: 50%;
}
.flex-container .box {
  width: 25vw;
  height: 25vw;
  display: flex;
  justify-content: center;
  align-items: center;
}


.box img {
  height: 20vw;
  width: auto;
}
.box9 img,
.box5 img {
  height: 25vw;
}

.circle {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #12b7d4;
  display: flex;
  color: #fff;
  font-weight: 800;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}

.box h1 {
  color: #12b7d4;
  font-size: 24px;
  margin-top: 20px;
}
.box h3 {
  color: #fff;
  text-align: center;
  margin-top: 20px;
  font-size: 16px;
}
.box2,
.box4,
.box6,
.box8,
.box10 {
  flex-direction: column;
}


@media (max-width: 768px) {

  .right ul{
    display: none;
  }
  .mobile{
    display: flex;
  }
  .all {
    height: 500vh; /* Postavi orijentaciju na kolonu za mobilne uređaje */
  }
.flex-container{
  flex-direction: column;
  height: 100vh;
  align-items: center;
}
.flx1,.flx3,.flx5{
flex-direction: column-reverse;
}
.flex-container .box {
  width: 80%;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10%;
}
.box img{
  height: auto;
  width: 80%;
}
.line{
  left: 7%;
  height: 490vh;
}

.box9 img,
.box5 img {
  width:90%;
}
.box h1{
  text-align: center;
}
}